body{
  background-color: #262626;
  margin: 0%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.joinChatContainer{
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 15px;
  border: 7px solid #161616;
  border-radius: 17px;
  text-align: center;
  font-size: 200%;
  margin-bottom: 200px;
  box-shadow: 15px 15px 5px;
  background-color: #228F63;
  text-shadow: 4px 4px black;
}

.joinChatContainer input {
  font-size: 25px;
  border: 4px solid #161616;
  border-radius: 10px;
  padding: 5px;
}

.joinChatContainer button {
  border: 4px solid #161616;
  border-radius: 10px;
  padding: 5px;
}

.joinChatContainer button:hover {
  box-shadow: 3px 3px;
}

#leaveBtn{
  border: 3px solid black;
  border-radius: 15px;
  font-size: 20px;
  padding: 5px;
}

#leaveBtn:hover{
  box-shadow: 4px 4px 15px;
}

/* ________ CHAT _________ */

.chat-window {
  border: 10px solid #161616;
  border-radius: 17px;
  margin-bottom: 25px;
  box-shadow: 15px 15px 5px;
  background-color: #228F63;
}

.chat-header {
  font-size: 2.5vw;
  font-weight: bold;
  text-align: center;
  padding: 1px 15px;
  position: relative;
  top: 0;
  z-index: 9999;
  background-color: #015B37;
}

.chatBodyHolder{
  display: flex;
  align-items: stretch;
}

.chat-body{
  display: flex;
  justify-content: right;
  flex-direction: column;
  text-align: right;
  width: 40vw;
  height: 25vw;
  flex-grow: 1;
  overflow: scroll;
  direction:ltr;
  overflow-x: hidden;
}

.chat-body #other{
  text-align: left;
}

#you {
  border-bottom: 3px solid rgba(0, 0, 0, 0.502);
  padding: 5px;
  display: inline-block;
}

#other{
  border-bottom: 3px solid rgba(0, 0, 0, 0.502);
  padding: 5px;
}

#you .message-content{
  display: inline-block;
  background-color: #658FB2;
  margin-left: 5px;
  font-size: 1.3vw;
  padding: 1.3vw;
  border-radius: 45px;
  color: white;
}

#you .message-meta{
  text-align: right;
}

#other .message-content{
  display: inline-block;
  margin-left: 5px;
  background-color: #0b4778;
  font-size: 1.3vw;
  padding: 1.3vw;
  border-radius: 45px;
  color: white;
}

.message-meta{
  display: inline-block;
  font-size: 1.3vw;
}

#author{
  font-weight: bold;
}

.users{
  width: 25vw;
  height: 25vw;
  font-size: 2vw;
  background-color: #10764D;
  overflow: scroll;
  direction:ltr;
  overflow-x: hidden;
}

.chat-footer{
  text-align: center;
  background-color: #015B37;
  padding: 20px;
}

.chat-footer input{
  border: 3px solid black;
  border-radius: 15px 0px 0px 15px;
  font-size: 25px;
  padding: 5px;
}

.chat-footer button{
  border: 3px solid black;
  border-radius: 0px 15px 15px 0px;
  font-size: 25px;
  padding: 5px;
}

.chat-footer button:hover{
  box-shadow: 4px 4px 15px;
}
